*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.row {
    background-color: rgb(211, 198, 211);
    border-radius: 30px;
    box-shadow: 2px 2px 10px ;    
    width: auto;
    height: 37.5rem;

}

img{
    width: 120%;
    height: 37.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* .login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

} */

.login h1{
    font-size: 4rem;
    font-weight: 300;
}

.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: 2px 2px 1px 1px black;
    
}

.btn1{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: rgb(187, 131, 187);
    color: white;
}
.btn1:hover{
    background-color: rgb(131, 131, 85);
    transition: 0.5s;
}
.fa-facebook{
    padding: 10px;
    font-size: 30px;
    background-color: rgb(160, 190, 160);
}
.fa-facebook:hover{
    background-color: rgb(160, 190, 160);

}
.fa-instagram:hover{
    background-color:  rgb(160, 190, 160);

}
.fa-instagram{
    padding: 10px;
    font-size: 30px;
    background-color: rgb(160, 190, 160);
}
.fa-twitter{
    padding: 10px;
    font-size: 30px;
    background-color: rgb(160, 190, 160);
}
.fa-twitter:hover{
    background-color:  rgb(160, 190, 160);

}
.fa-github{
    padding: 10px;
    font-size: 30px;
    background-color: rgb(160, 190, 160);
}
.fa-github:hover{
    background-color:  rgb(160, 190, 160);

}